<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-layout :: main-fragment(
		~{::title},
		~{::#add-customer-static-resources},
		~{::#add-customer-header},
		~{::#add-customer-nav},
		~{::#add-customer-main-content},
		~{::#add-customer-footer}
	)}">
>
	<head>
		
		<title>Registro de información</title>
		<meta charset="ISO-8859-1">
		<title>Home</title>
		<th:block id="add-customer-static-resources">
			<link rel="stylesheet" type="text/css" th:ref="@{/css/register.css}" href="/css/register.css">		
		</th:block>
	</head>
	<body>
		<div id="add-customer-header">
			Header of Home Page
		</div>
		<div id="add-customer-nav" th:replace="~{/fragments/app-fragments :: nav-default}">
			Home Nav			
		</div>
		<div id="add-customer-main-content" >
			<h2>Form</h2>
		<form action="#" th:action="@{/addcustomer}" method="post" th:object="${customer}">
			<div class="row">
				<div>
					<label for"name">Name</label>
					<input type="text" th:field="*{name}" id="name" placeholder="name"/> 
					<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
			<div>
				<label for"surname">Surname</label>
				<input type="text" th:field="*{surname}" id="surname" placeholder="surname"/> 
				<span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
			</div>
			<div>
				<label for"email">Email</label>
				<input type="text" th:field="*{email}" id="email" placeholder="email"/> 
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			</div>
			<div class="row">
				<div>
					<input type="submit" value="Add Customer">
				</div>
			</div>
			</div>			
		</form>
		</div>
		
		<div id="register-footer" th:replace="~{/fragments/app-fragments :: copyright}">
			Footer
			
		</div>
		
	</body>
</html>