<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
</head>

<body>
	<u th:fragment="nav-default">
		<li>
			<a th:href="@{/}">Home</a>
		</li>
		<li> <a th:href="@{/products}">Producssts</a></li>
		<li> <a th:href="@{/about}">about</a> </li>
		<li> <a th:href="@{/usuarios}">usuarios</a> </li>
		<li> <a th:href="@{/clientes}">Customers</a> </li>
	</u>


	<div th:fragment="nav-default" class="container-fluid">
		<div class="row">
			<!-- Sidebar -->
			<div class="col-md-2 sidebar">
				<ul class="list-unstyled">
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Users</a></li>
					<li><a href="#">Settings</a></li>
					<li><a href="#">Reports</a></li>
				</ul>
			</div>

		</div>
	</div>


</body>

</html>