<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dashboard</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
</head>

<body>

	<div class="col-md-2 sidebar">
		<ul class="list-unstyled">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/clientes}">Clientes</a></li>
			<li><a th:href="@{/productos}">Producto</a></li>
			<li><a th:href="@{/categorias}">Categoria</a></li>
			<li><a th:href="@{/proveedores}">Proveedor</a></li>
		</ul>
	</div>


</body>

</html>